/**
 * Monokai theme.
 */

.title {
  fill: #f92672;
}

.label, .value {
  fill: #f8f8f2;
}

.icon {
  fill: #a6e22e;
}

.background {
  fill: #272822;
  stroke: #49483e;
}

.progressBarBackground {
  fill: #49483e;
}